In [1]:
print("hello world")

hello world

In [4]:
for number in range(1,10,3):
    print(number, end='\t')

1	4	7

In [6]:
for outer_loop_number in range(1,2):
    for innner_loop_character in "ABCD":
        print(outer_loop_number, innner_loop_character, end='')

1 A1 B1 C1 D

In [ ]:
for character in "analytics":
    if (character == "a") or (character == "i"):
        print("x", end = ' ')
    else: 
        print(character, end="x")

In [24]:
number = 10

while number > 5:
    print(number, end = ' ')

    number = number - 1

    if number == 8:
        number = 2

10 9

In [1]:
my_list = [['A', 'B'],
           ['X', 'A'],
           ['B', 'A'],
           ['A', 'X']]
my_list[2][1]

'A'

In [2]:
list = [1,3,4]
list.append([5,6])
print(list)

[1, 3, 4, [5, 6]]

In [19]:
list = [4,5,6,7,4,3,4]
list.append([9,8])
print(list)
del list[-2]
print([9,8] in list)

[4, 5, 6, 7, 4, 3, 4, [9, 8]]
True

In [23]:
my_tuple = ('A','B', 'C', 'D', 'E', 'E', 1, 'D')

my_tuple.index(1)

6

In [25]:
my_tuple = ((1,2,3,1),
            (1,1,1,2),
            (2,1,2,1),
            (1,2,1,1)
           )

print(my_tuple[1][1:3])

(1, 1)

In [27]:
my_tuple = ('Analytics')
my_tuple1 = ('Analytics',)

print(type(my_tuple), type(my_tuple1))

<class 'str'> <class 'tuple'>